.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__flag {
    width: 100px;
    height: auto;
    margin: 0 20px;
  }

  &__logo {
    width: 400px;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }
}
