<header class="header">
  <div class="header__flag">
    <img src="../../../assets/images/header-images/1200px-Flag_of_the_U.S..svg.png" alt="">
  </div>
  <div class="header__flag">
    <img src="../../../assets/images/header-images/1200px-Flag_of_Germany.svg.png" alt="">
  </div>
  <div class="header__logo">
    <img src="../../../assets/images/header-images/logo.png" alt="">
  </div>
  <div class="header__flag">
    <img src="../../../assets/images/header-images/1200px-Fictional_National_Flag_of_the_Kingdom_of_Austria.png" alt="">
  </div>
  <div class="header__flag">
    <img src="../../../assets/images/header-images/1200px-Flag_of_Ukraine.svg.png" alt="">
  </div>
</header>
