.work {
  width: 90%;
  min-height: 550px;
  padding: 15px 15px 30px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  margin: 20px auto;
  background-color: rgb(245 245 245);
  cursor: pointer;
  @media screen and (max-width:550px){
    min-height: 400px;
  }

  &:hover {
    border: 2px solid black;
  }

  &__info {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    line-height: 2;
    padding: 10px;
    @media screen and (max-width:550px){
      font-size: smaller;
    }
  }

  &__apply {
    width: 50%;
    background-color: rgb(1, 182, 1);
    color: white;
  }
}

.detail {
  &__title {
    text-align: center;
  }

  &__list {
    padding: 10px 0 30px 20px;
    line-height: 2;
  }
}

.button {
  &-action {
    display: block;
    text-align: center;
    position: relative;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    margin: 10px 0;
  }

  &-green {
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
  }

  &-action:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
  }

  &-animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
  }
}
