.offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width:850px){
    align-items: center;
    flex-direction: column;
  }
  &__block{
    width: 50%;
    @media screen and (max-width:850px){
      width: 90%;
    }
  }
}

.main {
  &__line {
    text-align: center;
    font-size: 40px;
    box-shadow: 0 -3px 0px rgba(0, 0, 0, 0.400);
    padding: 20px 0;
    margin: 20px 0;
    @media screen and (max-width:710px) {
      font-size: 30px;
    }
    @media screen and (max-width:500px) {
      font-size: 25px;
      background-color: rgba(0, 0, 0, 0.301);
    }
  }
}

.service {
  line-height: 2;

  &__list {
    padding-left: 20px;
  }
}

.choose {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width:710px) {
    align-items: center;
    flex-direction: column;
  }
}

.answer {
  width: 30%;
  @media screen and (max-width:710px) {
    width: 90%;
    margin: 0 auto;
  }

  &:nth-child(2) {
    border-left: 3px solid rgba(0, 0, 0, 0.400);
    border-right: 3px solid rgba(0, 0, 0, 0.400);

    @media screen and (max-width:710px) {
      border: none;
      border-top: 3px solid rgba(0, 0, 0, 0.400);
      border-bottom: 3px solid rgba(0, 0, 0, 0.400);
    }
  }

  &__icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;

    @media screen and (max-width:710px) {
      border: none;
      width: 250px;
      height: 250px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__text {
    padding: 15px;
    text-align: center;
    font-size: larger;
  }

  &__link {
    color: black;
  }
}

.question {
  margin-bottom: 40px;
}
