<main class="main">

  <h2 class="main__line">Програми Au Pair:</h2>
  <article class="offers">
    <app-offer class="offers__block" *ngFor="let article of articles" [article]='article'></app-offer>
  </article>

  <h2 class="main__line">ЧОМУ ОБИРАЮТЬ НАС !</h2>
  <article class="choose">
    <section class="choose__answer answer">
      <figure class="answer__icon">
        <img class="answer__img" src="../../../assets/images/main-images/education.png" alt="">
      </figure>
      <figcaption class="answer__text">Можливість занурення в мовне середовище
      </figcaption>
    </section>
    <section class="choose__answer answer">
      <figure class="answer__icon">
        <img class="answer__img" src="../../../assets/images/main-images/experience.png" alt="">
      </figure>
      <figcaption class="answer__text">10-річний досвід роботи
      </figcaption>
    </section>
    <section class="choose__answer answer">
      <figure class="answer__icon">
        <img class="answer__img" src="../../../assets/images/main-images/reliability.jpg" alt="">
      </figure>
      <figcaption class="answer__text">Задоволенні <a class="answer__link" href="http://aupair-community.com/">клієнти</a>
      </figcaption>
    </section>
  </article>

  <h2 class="main__line">НАШІ ПОСЛУГИ НА УЧАСТЬ В ПРОГРАМІ AU-PAIR:</h2>
  <article class="service">
    <ul class="service__list">
      <li class="service__item">Ввідне інформаційне консультування (інформація щодо прав, обов’язків та діяльності у
        якості Au-Pair у
        Німеччині).</li>
      <li class="service__item">Надання, перевірка, редагування та переклад необхідних документів для участі в програмі
        Au-Pair.</li>
      <li class="service__item">Інформаційно- консультаційний супровід, впродовж всього терміну підготовки до участі в
        програмі.</li>
      <li class="service__item">Підбір приймаючої сім'ї.</li>
      <li class="service__item">Налагодження та перевірка контактів із приймаючою стороною (Au-Pair-агенцією в країні
        перебування та
        приймаючою сім'єю).</li>
      <li class="service__item">Інформаційно- консультаційний супровід на етапі підготовки повного пакета документів від
        сім’ї (контракт,
        запрошення, страховка та ін.).</li>
      <li class="service__item">Підготовка документів необхідних на подачу для відкриття візи в консульстві (допомога в
        заповненні візових
        заяв, перевірка, редагування та переклад інших необхідних документів, а також за бажанням індивідуальна
        підготовка до співбесіди в консульстві з викладачем німецької мови).</li>
      <li class="service__item">Допомога в організації поїздки до від’їзду з України.</li>
      <li class="service__item">Надання контактів інших учасників які беруть участь в програмі, або вже є в Німеччині
        (за двосторонньої згоди).
      </li>
      <li class="service__item">Підтримка зі сторони агенції протягом всього часу перебування в Німеччині. </li>
    </ul>
  </article>

  <h2 class="main__line"> ПОСЛУГИ НАШИХ ПАРТНЕРІВ В НІМЕЧЧИНІ:</h2>
  <article class="service">
    <ul class="service__list">
      <li class="service__item">Агентство-партнер запрошує до себе сім‘ю для співбесіди, а також перевіряє житлові та
        інші умови життя сім‘ї та надає дійові консультації з приймаючою сім’єю, яка бажає прийняти у себе Au-Pair
        претендента та надає сім’ї інформацію щодо прав і обов’язків.</li>
      <li class="service__item">Агентство-партнер надає консультації Au-Pair претендентам, які стосуються їх перебування
        у Німеччині. Консультації охоплюють допомогу в пошуку мовних курсів, регулярних культурних, суспільних та
        консультативних заходів.</li>
      <li class="service__item">В проблемних ситуаціях агентство-партнер допомагає Au-Pair у труднощах з приймаючою
        сім’єю та намагається допомогти у рішенні проблеми. Якщо проблема не вирішується, агентство-партнер допомагає
        знайти Au-Pair претенденту іншу приймаючу сім’ю.</li>
      <li class="service__item">Агентство-партнер пропонує безкоштовні навчальні курси, такі як курси надання першої
        медичної допомоги.</li>
      <li class="service__item">Au-Pair отримує номер гарячої лінії для екстрених випадків (!).</li>
    </ul>
  </article>

  <article class="question">
    <h2 class="main__line"> Найбільш популярні запитання:</h2>
    <app-question *ngFor="let info of moreInfo" [info]='info'></app-question>
  </article>

</main>
