<main class="main">
    <section class="offers">
        <div class="work">
            <figure class="work__info">
                <img src="../../../assets/images/main-images/banner_1200x630-min-uk.jpg" alt="">
                <figcaption class="work__text">Ви молоді, комунікабельні, і найголовніше, любите дітей і все, що зв'язано з ними? До того ж Ви любите подорожувати? Чудово! Програма "Au-Pair" - те, що Вам треба! Au-Pair - найбільш популярна програма міжнародного культурного обміну, у якій бере участь молодь з усього світу. Ця недорога і вигідна програма - для тих, хто хоче без значних витрат виїхати в Німеччину на один рік, удосконалити німецьку мову в мовному середовищі, познайомитися з інтелектуальним і культурним життям гостьової країни, відвідати інші країни Європейського Союзу. Для багатьох Au-Pair програма дає можливість вступити і безкоштовно вчитися в найкращих ВНЗ Німеччини.</figcaption>
            </figure>
        </div>
    </section>
</main>